RewriteEngine On

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ $1\.php

php_value max_input_vars 300000
php_value suhosin.get.max_vars 300000
php_value suhosin.post.max_vars 300000
php_value suhosin.request.max_vars 300000